.cartIconContainer {
  position: relative;
  display: inline;
  cursor: pointer;

  .itemCount {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    font-size: 0.75rem;
    font-weight: bold;
  }
}
