.commonButton {
  display: inline-block;
  min-width: 10rem;
  width: auto;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  box-shadow: 0 8px 32px 0 rgba(40, 40, 40, 0.45);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.defaultButton {
  background-color: black;
  color: white;

  &:hover {
    background: white;
    color: black;
  }
}

.googleButton {
  background-color: #4285f4;
  color: white;
  &:hover {
    background-color: #357ae8;
    border: none;
  }
}

.invertedButton {
  background-color: white;
  color: black;
  &:hover {
    background-color: black;
    color: white;
  }
}
